@CHARSET "ISO-8859-1";
body {
	background-color: rgba(106, 230, 67, 0.65);
}

.oreintation {
	padding: 2% 12%;
}
a:visited {
	color: green;
}
.app {
	background-color: #b1d9f2;
	margin: 0px;
	padding: 0px;
	width: 75%;
	min-width: 450px;
}